header{
text-align:center;
height:190px;
display:flex;
}

body{
margin:0%;
font-family: system-ui;
}

h1{
margin:0;
text-align:center;
margin-left:37%;
margin-top:3%;
}

.boutons{
margin-left: 47%;
margin-right: 47%;

margin-top: 15px;
background-color: grey;
}

img{
margin-left:2.8%;
margin-top:2.8%;
}

.login{
text-align: center;
}

.lampe {
display:flex;
}

.lampe1{
width:50%;
height:310px;
text-align:center;

}

.lampe2{
width:50%;
height:310px;
text-align:center;
}

footer{
height:230px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


