<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/projet/css.css">
<title>Home UI</title>
<header>
    <img src="https://www.videmaison.com/uploads/1/4/1/5/1415158/logo-maison-bleu-transparent-carr-bd_orig.png" alt="Logo HubSpot" width=90px height=90px/>
    <h1> Home UI</h1>
</header>
<body>
<div class="login">
    <a href="/">login</a>
</div>
<div class="lampe">
    <div class="lampe1"> Etat de la première lampe
        <div class="boutons">
            <a href="/projet/LED1">Allumer</a>
        </div>
        <div class="boutons">
            <a href="">Off</a>
        </div>
        <div>
    <label for="subscribeNews">Souhaitez-vous chosir une plage horaire ?</label>
    <input type="checkbox" id="horaire1" name="horaire1n" value="newsletter">
  </div>
        <label for="appt">Choisir l'heure de début :</label>
<input type="time" id="appt" name="appt"
       min="00:00" max="23:59" required>
        <label for="appt">Choisir l'heure de fin:</label>
        <input type="time" id="appt" name="appt"
       min="00:00" max="23:59" required>
    </div>
    <div class="lampe2"> Etat de la deuxieme lampe
        <div class="boutons">
            <a href="/projet/LED2">Allumer</a>
        </div>
        <div class="boutons">
            <a href="">Off</a>
        </div>
        <div>
    <label for="horaire2">Souhaitez-vous chosir une plage horaire ?</label>
    <input type="checkbox" id="horaire2" name="horaire2n" value="newsletter">
  </div>
        <label for="appt">Choisir l'heure de début:</label>
        <input type="time" id="appt" name="appt"
       min="00:00" max="23:59" required>
        <label for="appt">Choisir l'heure de fin:</label>
<input type="time" id="appt" name="appt"
       min="00:00" max="23:59" required>
    </div>
</div>
<script src="/static/js/mqtt.js"></script>
</body>
<footer>
    Temperature de la pièce
</footer>
</html>
